@model HospitalApp.Core.Application.ViewModels.LabResult.SaveLabResultViewModel

@{

    ViewData["Title"] = "Reportar resultado";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-7">
            <div class="card p-3 bg-success bg-opacity-10 mb-5">
                <div class="card-header bg-opacity-50 bg-success">
                    <h3 class="text-center">@ViewData["Title"]</h3>
                </div>
                <div class="card-body">
                    <form asp-controller="LabResult" asp-action="Report" method="post">
                        <div class="mb-3">
                            <label asp-for="Result" class="form-label">Resultado</label>
                            <input asp-for="Result" class="form-control" placeholder="Ingrese el resultado de la prueba">
                            <span asp-validation-for="Result" class="text-danger"></span>
                        </div>
                        <input type="hidden" asp-for="Id">
                        <input type="hidden" name="appointmentId" value="@Model.AppointmentId">
                        <button type="submit" class="btn btn-success">Finalizar</button>
                        <a asp-controller="LabResult" asp-action="Index" class="btn btn-secondary">Volver atrás</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
