
@*@model*@

@{
    ViewData["Title"] = "Home Page";
}
<h2 class="text-center my-5">Gestor de Pacientes</h2>
<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row">
        <div class="d-grid gap-2">
            <a asp-controller="User" asp-action="Index" class="btn btn-success">Mantenimiento de Usuarios</a>
            <a asp-controller="Doctor" asp-action="Index" class="btn btn-success">Mantenimiento de Médicos</a>
            <a asp-controller="LabTest" asp-action="Index" class="btn btn-success">Mantenimiento de Pruebas de Laboratorio</a>
            <a asp-controller="Patient" asp-action="Index" class="btn btn-success">Mantenimiento de Pacientes</a>
            <a asp-controller="Appointment" asp-action="Index" class="btn btn-success">Mantenimiento de Citas</a>
            <a asp-controller="LabResult" asp-action="Index" class="btn btn-success">Mantenimiento de resultados de Pruebas de Laboratorio</a>
        </div>
    </div>
</div>
