@model HospitalApp.Core.Application.ViewModels.Appointment.SaveAppointmentViewModel

@{
    ViewData["Title"] = "Eliminar Cita";
}

<div class="container h-100">
    <div class="row justify-content-center" style="min-height: 100vh;">
        <div class="col-8 text-center mt-4">
            <h6 class="mb-4 mt-4">
                ¿Está seguro(a) que desea eliminar la cita del paciente "@Model.PatientName" con el/la doctor(a) "@Model.DoctorName"?
            </h6>
            @*<div class="alert alert-warning" role="alert">
                Se eliminarán todas las  que pertenecen a <span class="text-danger">@Model.Name</span>
            </div>*@
            <hr />
            <form class="text-right" method="post" asp-controller="Appointment" asp-action="DeletePost">
                <button class="btn btn-outline-danger btn-sm me-2" type="submit">Eliminar</button>
                <a class="btn btn-outline-secondary btn-sm" asp-controller="Appointment" asp-action="Index">Cancelar</a>
                <input type="hidden" asp-for="Id">
            </form>
        </div>
    </div>
</div>
