

@{
    ViewData["Title"] = "Error";
}

<div class="container h-100">
    <div class="row justify-content-center" style="min-height: 100vh;">
        <div class="col-8 text-center mt-4">
            <h6 class="mb-4 mt-4">
                No tiene acceso a este mantenimiento.
            </h6>
            <hr />
            <a class="btn btn-outline-secondary btn-sm"
               asp-controller="Home" asp-action="Index">Regresar</a>
        </div>
    </div>
</div>
