@using Microsoft.AspNetCore.Http;
@using HospitalApp.Core.Application.Helpers;
@using HospitalApp.Core.Application.ViewModels.User;
@inject IHttpContextAccessor httpContext;
@{
UserViewModel User = httpContext.HttpContext.Session.Get<UserViewModel> ("user");
}
    <!DOCTYPE html>
     <html lang="en"> 
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Hospital Management</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/HospitalApp.styles.css" asp-append-version="true" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-toggleable-sm navbar-light bg-success bg-opacity-10 border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-action="Index" asp-controller="@(User !=null ? "Home" : "User")">
                        <i class="fas fa-hospital text-success mr-2"></i>
                        HospitalApp
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse d-lg-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User != null)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Doctor" asp-action="Index">Doctores</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="LabTest" asp-action="Index">Pruebas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Patient" asp-action="Index">Pacientes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Appointment" asp-action="Index">Citas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="LabResult" asp-action="Index">Resultados</a>
                            </li>
                            @*<li class="nav-item">
                                <a class="nav-link" asp-controller="User" asp-action="Index">Usuarios</a>
                            </li>*@
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="User" asp-action="UserMaintenance">Usuarios</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-success" asp-controller="User" asp-action="LogOut">Salir</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-success" asp-controller="User" asp-action="Register">Registrarme</a>
                            </li>
                        }
                    </ul>
                </div>
            </nav>
        </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                Hospital Management | @DateTime.Today
            </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
    </html>

